// MAIN SASS FILE

//IMPORTS
@import 'helpers/reset';

//VARIABLES


//IDS
body {
  height: 100%;
  //overflow-x:hidden;
}

#wrapper {
  width: 100vw;
  min-height: 100%;
  margin: 0 auto;
}

#navBar {
  height: 170px;
  width: 100%;
  position: absolute;;
  background-color: #223E47;
  float:left;
}


#navBar ul {
    float: right;
    height: 100%;
    width: 50%;
    position: relative;
    color: #FFF;
    font-family: "kollektif", sans-serif;
    font-size: 25px;
    cursor: pointer;
}

#navBar ul li {
    text-align: left;
    line-height: 194px;
    padding: 20px;
    display: inline;
}

#splash {
  height: 433px;
  width: 100vw;
  margin-top: 170px;
  display: block;
  background: url('../../imgs/AccountinPic.jpg') no-repeat;
  background-size: 100%;
  background-position: center;
  clear: left;
}

#splash p {
  height: inherit;
  width: inherit;
  position: relative;
  top: 50px;
  font-size: 60px;
  text-align: center;
  color: #FFF;
  font-family: "kollektif", sans-serif;
}

#splash button {
  height: 92px;
  width: 350px;
  position:relative;
  display: block;
  bottom: 250px;
  left: 450px;
  font-family: "kollektif", sans-serif;
  font-size: 40px;
  color: #FFF;
  background-color: #54B5EE;
  border-radius: 50px;
  border-style: none;
}

#content {
  height: 750px;
  width: auto;
  padding: 115px 0px 0px 0px;
  text-align: center;
  color: #223E47;
}

 h1 {
  font-size: 55px;
  text-align: center;
  color: #223E47;
  font-family: "kollektif", sans-serif;
}

h2 {
  @extend h1;
  font-size: 95px;
}

#content p {
  @extend h1;
  font-size: 35px;
  padding: 110px;
  text-align: left;
}

#content button {
  height: 92px;
  width: 350px;
  position:relative;
  display: block;
  bottom: 40px;
  left: 450px;
  font-family: "kollektif", sans-serif;
  font-size: 30px;
  color: #FFF;
  background-color: #54B5EE;
  border-radius: 50px;
  border-style: none;
}

h3 {
  @extend h1;
  font-size: 35px;
  text-align: center;
}

h4 {
  @extend h3;
  padding-top: 40px;
}

footer {
  height: 250px;
  width: 100%;
  background-color: #B1BC37;
}

#sm {
  
}

h5 {
  position: absolute;
  line-height: 50px;
  left: 20px;
  margin: auto;
  font-size: 35px;
  color: #223E47;
  font-family: "kollektif", sans-serif;
  bottom: -1550px;
}

h6 {
  position: absolute;
  line-height: 50px;
  font-size: 35px;
  color: #223E47;
  font-family: "kollektif", sans-serif;
  text-align: right;
  right: 20px;
  bottom: -1550px;
}

.T {
  height: 49px;
  width: 47px;
  display: inline-block;
  background: url('../../imgs/twitter.png') no-repeat;
  background-size: 100%;
  background-position: center;
}

.I {
  height: 49px;
  width: 47px;
  display: inline-block;
  background: url('../../imgs/linkedin.png') no-repeat;
  background-size: 100%;
  background-position: center;
}

.Insta {
  height: 49px;
  width: 47px;
  display: inline-block;
  background: url('../../imgs/instagram.png') no-repeat;
  background-size: 100%;
  background-position: center;
}

.F {
  height: 49px;
  width: 47px;
  display: inline-block;
  background: url('../../imgs/facebook.png') no-repeat;
  background-size: 100%;
  background-position: center;
}
